ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

h2
{
  color: red;
}

p
{
  color: red;
}

.note
{
  font-size: 20px;
}

html{
  text-align: center;
}

